<form method="post" action="{{ path('transaction_management_purchase_item_delete', {'id': purchase_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase_item.id) }}">
    <button class="btn">Delete</button>
</form>
