label {
    &.asterisque {
        &:after {
            content: ' *';
            color: black;
        }
    }
    &.error {
        font-size: small;
        color: $cinnabar-red;
    }
}