.reset-password{

  .card{
    border: 1px solid $scorpion-grey;

    .card-title{
      text-transform: uppercase;
      color: $prussian-blue;
      font-weight: 500;
    }

    .form-label{
      display: none;
    }

    .form-control{
      box-shadow: none;
      outline: none;
      background-color: $white !important;
      border: none;
      border-bottom: 1px solid $gallery-grey;
      border-radius: 0;
      padding-left: 10px;
      color: $scorpion-grey !important;
    }

    a{
      display: block;
      font-size: 0.8em;
      color: $scorpion-grey;
    }

    button{
      max-width: 275px;
      width: 100%;
      height: 45px;
      border: 2px solid $scooter-blue;
      background-color: $scooter-blue;
      border-radius: 22.5px;
      color: $white;
      transition: all ease-in-out 0.3s;
      outline: none;
      text-align: center;
      font-weight: 500;
      text-transform: uppercase;
      margin: 20px auto 0;
      box-shadow: none;

      &:hover{
        background-color: $white;
        color: $scooter-blue;
      }
    }
  }
}